$bgcolors: (1: #fff, 2: #f9f9f9, 3: #f5f5f5, 4: #EEEEEE, 5: #E0E0E0, overlay: rgba(0, 0, 0, 0.3));
$accent_bgcolors: (1: #50E0E3, D1: #308587);
$accent_fgcolors: (1: #50E0E3, D1: #308587);
$darkbgcolors: (1: #6C6C6C, 2: #919191, 3: #AAAAAA);
$bordercolors: (1: #F0F2F5, 2: #e1e1e1, 3: #d6d6d6, A_LIGHT: rgba(55, 107, 166, 0.11));
$accentcolors: (1: #FBAF52, 2: #F93C71, G: #7ED321);
$fgcolors: (0: #2A2D30, 1: #42474C, 2: #5F666E, 3: #87919C, 4: #9DA9B5);
$fg_light_colors: (1: #fff, 2: #f5f5f5, 3: #dcdcdc, 4: #d2d2d2, 5: #c8c8c8, 6: #B0B0B0);
$padmar: (L2: 2px, L1: 5px, N: 10px, H1: 15px, H2: 20px, H3: 25px, H4: 30px, H5: 35px, H6: 40px, H7: 45px, H8: 50px);
$borderRadius: (1: 4px, 2: 8px, 3: 12px);
$transitions: (S: 1s, N: 0.4s, F: 0.2s);
$fonts: (H: "Open Sans", T: "Roboto", E: "Oxygen", N: "Roboto Condensed", D: "Halant");
